* {
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

div .container {
  top: 60px;
}

.row {
  width: 100%;
}

.box1,
.box2,
.box3 {
  float: left;
  padding: 10px;
}

.content {
  background-color: #adadad;
  padding: 0 20px;
  color: #000;
  border: 1px solid #000;
}

#chicken {
  background-color: #eabbc1;
  color: #000;
  text-align: center;
  border: 1px solid #000;
  margin-top: 0px;
  width: 120px;
  height: 30px;
  float: right;
  font-weight: bold;
  padding-top: 5px;
}

#beef {
  background-color: #d63c3c;
  color: #fff;
  text-align: center;
  border: 1px solid #000;
  margin-top: 0px;
  width: 120px;
  height: 30px;
  float: right;
  font-weight: bold;
  padding-top: 5px;
}

#sushi {
  background-color: #fae8a7;
  color: #000;
  text-align: center;
  border: 1px solid #000;
  margin-top: 0px;
  width: 120px;
  height: 30px;
  float: right;
  font-weight: bold;
  padding-top: 5px;
}

@media only screen and (min-width: 992px) {
  .box1,
  .box2,
  .box3 {
    display: inline-block;
    width: 33%;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .box1,
  .box2,
  .box3 {
    display: inline-block;
  }
  .box1,
  .box2 {
    width: 50%;
  }
  .box3 {
    width: 100%;
  }
}

@media only screen and (max-width: 767px) {
  .box1,
  .box2,
  .box3 {
    display: inline-block;
    width: 100%;
  }
}
